doctype html
html
  head
    title= title
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    link(rel='stylesheet', href='/stylesheets/remodal.css')
    link(rel='stylesheet', href='/stylesheets/remodal-default-theme.css')
    script(src='/javascripts/remodal.js')
    style.
      html {
      height: 100%;
      margin: 0;
      }
      body {
      margin: 0;
      padding-bottom: 20px;
      padding-top: 50px;
      }
      body, .item {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 100%;
      overflow: auto;
      }
      #header {
       background-color: #ccc;
       position: fixed;            /* ヘッダーの固定 */
       top: 0px;                   /* 位置(上0px) */
       left: 0px;                  /* 位置(右0px) */
       width: 100%;                /* 横幅100%　*/
       height: 45px;              /* 縦幅140px */
       z-index: 5;
       box-shadow:2px 2px 1px #b4bfc1;
      }
      #head-txt{
           /* 表示領域を白枠で囲う */
       height: 100%;              /* 縦の表示領域はheader-bkと同じ */
       width: 960px;              /* 横の幅970px */
       margin: auto;              /* 中央揃え */
       text-align: center;
       z-index: 5;
       padding: 13px;
      }

      #footer {
      background-color: #ccc;
      bottom: 0;
      height: 40px;
      overflow: hidden;
      position: absolute;
      width: 80%;
      }
      #middle {
      }
      #left_frame {
      float: left;
      width: 20%;
      }
      #right_frame {
      }
      .spacer {
      height: 10000px;
      }
      #in {
      position: relative;
      left: 200px;
      }
      #user-list{
      padding: 0;
      position: relative;
      }
      li.user{
      color: #2d8fdd;
      border-left: solid 6px #2d8fdd;/*左側の線*/
      background: #f1f8ff;/*背景色*/
      margin-bottom: 3px;/*下のバーとの余白*/
      line-height: 3;
      padding: 0.5em;
      list-style-type: none!important;/*ポチ消す*/
      }

  body

    block content
    #header.item
     #head-pos
      #head-txt ここだよ

    #middle.item
      #left_frame.item
        ul#user-list


        .spacer
      #right_frame.item
         script(src='/socket.io/socket.io.js')
         script(src='/javascripts/cliant.js')

         #footer.item
           #in
             input#msg_input(type='text', style='width:500px;')
             input#sub(type="submit",value="送信")



    .remodal(data-remodal-id='modal', role='dialog', aria-labelledby='modal1Title', aria-describedby='modal1Desc')
      div
        h2#modal1Title ユーザー名を設定してください
        input#modal1Desc(type='text',style='width:400px;')
      br
      button#user-cancel.remodal-cancel(data-remodal-action='cancel') Cancel
      button#user-ok.remodal-confirm(data-remodal-action='confirm') OK